*~

INSTALL

autom4te.cache/
configure
include/config.h.in
include/config.h
include/stamp-h1
Makefile.in
aclocal.m4
compile
config.guess
config.sub
config.log
config.status
depcomp
install-sh
missing
Makefile

**/.deps
**/.dirstamp
**/*.o
openstreetmap-tile-analyze
