*~

INSTALL

autom4te.cache/
configure
include/config.h.in
include/config.h
include/stamp-h1
Makefile.in
aclocal.m4
compile
config.guess
config.sub
config.log
config.status
depcomp
install-sh
missing
Makefile

.deps/
.dirstamp
openstreetmap-tile-analyze

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
